.views-view-grid{
  text-decoration: none;
  text-align: justify;

  .cols-4 {
    .links{
      border-top: 1px solid $basicGray5;

      .node-readmore{
        text-transform: uppercase;
      }
    }

    .grid-row {
      .grid-col {
        .views-field, article {
          color: $basicWhite;
          background-color: $basicPurple2;
          padding: 24px;
          &:hover{
            background-color: $basicPurple3;
          }
          a {
            color: $basicWhite;
          }
          .node-readmore a{
            color: $basicGray8;
            display: inline-block;
            margin-top : 20px;
          }
        }
      }
    }

  }

}