//Colors
$basicBlack: #000;
$basicWhite: #FFF;
$basicGray: #4D4D55;
$basicGray2: #a5a5a4;
$basicGray3: #4D4D55;
$basicGray4: #EEEDEF;
$basicGray5: #131313;
$basicGray6: #A5A5A4;
$basicGray7: #5E5E5C;
$basicGray8:#8d8e8f;
$basicGray9: #999999;
$basicBeige: #D3D0C2;
$basicDarkGray: #514F3C;
$basicPrimaryBrown: #514F3C;
$basicPrimaryGreen: #BDD747;
$basicSecondaryGreen: #707F2A;
$basicSecondaryGray: #4C4C4A;
$basicRed: #d0021b;
$basicFocus: #5E9ED6;
$basicPurple: rgba(51,25,76,0.76);
$basicPurple2: #5e325d;
$basicPurple3: #3a2039;
$basicCharcoal: #464646;
$basicBlue: #0059A1;
$basicBlueTransparent: rgba(0, 88, 161, 0.63);

//Fonts
$fontStack: 'Quattrocento Sans', sans-serif;