.main-header{
    background: url('../img/slideshow_4.jpeg');
    background-size: cover;

    &:after {
        background: $basicPurple;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    nav {
        background: none;
    }
}