body {
  font-family: $fontStack;
  color: $basicCharcoal;
  font-size: 18px;
  text-rendering: optimizeLegibility !important;
}

.component--color--white{
    p {
        color: $basicWhite;
    }
}

.component--color--black{
    p {
        color: $basicBlack;
    }
}