.footerwidget {
  background: $basicPurple2 url(../img/footer-watermark.png);
  background-position: 100px center;
  background-repeat: no-repeat;

  .fa {
    font-size: 30px;
    margin-bottom: 10px;
    display: inline-block;
  }

  p {
    .fa {
      text-align: center;
    }
  }

  h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
  }
}

.footer-menu{
  background: $basicPurple3;
   h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
  }
}

.copyright{
  background: $basicPurple3;
   h1, h2, h3, h4, h5, h6, p, a {
    color: $basicWhite;
  }
}