/**
 * Base
 */
body {
  font-family: "Quattrocento Sans", sans-serif;
  color: #464646;
  font-size: 18px;
  text-rendering: optimizeLegibility !important;
}

.component--color--white p {
  color: #FFF;
}

.component--color--black p {
  color: #000;
}

/*
* Regions
*/
.footerwidget {
  background: #5e325d url(../img/footer-watermark.png);
  background-position: 100px center;
  background-repeat: no-repeat;
}

.footerwidget .fa {
  font-size: 30px;
  margin-bottom: 10px;
  display: inline-block;
}

.footerwidget p .fa {
  text-align: center;
}

.footerwidget h1, .footerwidget h2, .footerwidget h3, .footerwidget h4, .footerwidget h5, .footerwidget h6, .footerwidget p, .footerwidget a {
  color: #FFF;
}

.footer-menu {
  background: #3a2039;
}

.footer-menu h1, .footer-menu h2, .footer-menu h3, .footer-menu h4, .footer-menu h5, .footer-menu h6, .footer-menu p, .footer-menu a {
  color: #FFF;
}

.copyright {
  background: #3a2039;
}

.copyright h1, .copyright h2, .copyright h3, .copyright h4, .copyright h5, .copyright h6, .copyright p, .copyright a {
  color: #FFF;
}

.region-footer-third img {
  width: 100%;
}

@media (min-width: 48em) {
  .region-footer-third img {
    width: 50%;
  }
}

.main-header {
  background: url("../img/slideshow_4.jpeg");
  background-size: cover;
}

.main-header:after {
  background: rgba(51, 25, 76, 0.76);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-header nav {
  background: none;
}

.slideshow {
  display: none;
  position: relative;
}

@media (min-width: 48em) {
  .slideshow {
    display: block;
  }
}

.slideshow .slideshow-wide {
  padding: 0;
}

/*
* Components
*/
.component--h003 {
  max-height: 400px;
}

@media (min-width: 62em) {
  .component--h003 .component--alignment--centered-and-cropped {
    max-height: 400px;
    object-fit: cover;
  }
}

.component--h003 .component--font-transform--text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.component--h003 .component--font-transform--text p {
  font-size: 13.5px;
}

@media (min-width: 48em) {
  .component--h003 .component--font-transform--text p {
    font-size: 18px;
  }
}

@media (min-width: 62em) {
  .component--h003 .component--font-transform--text p {
    font-size: 20px;
  }
}

.component--color-white h1, .component--color-white h2, .component--color-white h3, .component--color-white h4, .component--color-white h5, .component--color-white h6, .component--color-white p, .component--color-white a {
  color: #FFF;
}

.component--color-black h1, .component--color-black h2, .component--color-black h3, .component--color-black h4, .component--color-black h5, .component--color-black h6, .component--color-black p, .component--color-black a {
  color: #000;
}

/*
* Layout
*/
.views-view-grid {
  text-decoration: none;
  text-align: justify;
}

.views-view-grid .cols-4 .links {
  border-top: 1px solid #131313;
}

.views-view-grid .cols-4 .links .node-readmore {
  text-transform: uppercase;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field, .views-view-grid .cols-4 .grid-row .grid-col article {
  color: #FFF;
  background-color: #5e325d;
  padding: 24px;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field:hover, .views-view-grid .cols-4 .grid-row .grid-col article:hover {
  background-color: #3a2039;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field a, .views-view-grid .cols-4 .grid-row .grid-col article a {
  color: #FFF;
}

.views-view-grid .cols-4 .grid-row .grid-col .views-field .node-readmore a, .views-view-grid .cols-4 .grid-row .grid-col article .node-readmore a {
  color: #8d8e8f;
  display: inline-block;
  margin-top: 20px;
}
